name: nightmare

services:
  # vpn:
  #   image: qmcgaw/gluetun
  #   devices:
  #     - /dev/net/tun:/dev/net/tun
  #   ports:
  #     - "6901:22"
  #     - "6902:8000"
  #   cap_add:
  #     - NET_ADMIN
  #   environment:
  #     - TZ=UTC
  #     - VPN_SERVICE_PROVIDER=protonvpn
  #     - VPN_TYPE=wireguard
  #     - WIREGUARD_PRIVATE_KEY=$WIREGUARD_PRIVATE_KEY
  #     - SERVER_COUNTRIES=$SERVER_COUNTRIES
  #     - FREE_ONLY=true
  #     - EXTRA_SUBNETS=172.16.1.0/24
  #   healthcheck:
  #     test: ping -c 1 1.1.1.1 || exit 1
  #     interval: 20s
  #     timeout: 10s
  #     retries: 5
  #   restart: unless-stopped

  kali-hexstrike:
    image: kali-hexstrike:latest
    build:
      context: ./kali
      dockerfile: Dockerfile
    # depends_on:
    #   - vpn
    cap_add:
      - NET_ADMIN
      - NET_RAW
    network_mode: service:vpn
    ports:
      - "6901:22"
      - "6902:8000"
    environment:
      - ROOT_PASSWORD=$ROOT_PASSWORD
    volumes:
      - ./vault:/root/vault:z
    stdin_open: true
    tty: true
    restart: no

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    depends_on:
      - kali-hexstrike
    network_mode: host
    ports:
      - "6903:8080"
    environment:
      - MODEL_DOWNLOAD_DIR=/models
      - OLLAMA_API_BASE_URL=http://host.docker.internal:11434
      - LOG_LEVEL=debug
    volumes:
      - ./owui_data:/app/backend/data:z
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped