name: nightmare

networks:
  nightmare_network:
    driver: bridge

volumes:
  ollama_data:
  owui_data:
  n8n_data:

services:
  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok 
    ports:
      - "4040:4040"
    networks:
      - nightmare_network
    environment:
      - NGROK_AUTHTOKEN=${NGROK_TOKEN}
    command: http --url=${NGROK_SUBDOMAIN}.${NGROK_DOMAIN} n8n:5678
    restart: unless-stopped

  hexstrike:
    image: hexstrike:latest
    container_name: hexstrike
    build:
      context: ./kali
      dockerfile: Dockerfile
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - "6922:22"
      - "8000:8000"
    networks:
      - nightmare_network
    volumes:
      - ./vault:/root/vault:z
    environment:
      - ROOT_PASSWORD=${ROOT_PASSWORD}
    stdin_open: true
    tty: true
    restart: no

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    depends_on:
      - hexstrike
    ports:
      - "11435:11434"
    networks:
      - nightmare_network
    volumes:
      - ollama_data:/root/.ollama
      - ./Modelfile:/Modelfile:ro
    # Uncomment the following deploy block if you have an NVIDIA card and want to enable GPU support
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia
    #           count: all
    #           capabilities: [gpu]
    restart: unless-stopped
    entrypoint: ["/bin/bash", "-c", "\
      ollama serve & \
      sleep 5 && \
      ollama pull ${MODEL} && \
      wait"]

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    depends_on:
      - ollama
    ports:
      - "3000:8080"
    networks:
      - nightmare_network
    volumes:
      - owui_data:/app/backend/data
    environment:
      - MODEL_DOWNLOAD_DIR=/models
      - OLLAMA_API_BASE_URL=http://ollama:11435
    restart: unless-stopped

  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    depends_on:
      - ollama
      - ngrok
    ports:
      - "127.0.0.1:5678:5678"
    networks:
      - nightmare_network
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - n8n_data:/home/node/.n8n
    environment:
      - NODE_ENV=production
      - GENERIC_TIMEZONE=${TIMEZONE}
      - TZ=${TIMEZONE}
      - N8N_SECURE_COOKIE=false
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true
      - WEBHOOK_URL=https://${NGROK_SUBDOMAIN}.${NGROK_DOMAIN}
      - N8N_EDITOR_BASE_URL=http://localhost:5678
    restart: unless-stopped