name: nightmare

services:
  kali-hexstrike:
    image: kali-hexstrike:latest
    build:
      context: ./kali
      dockerfile: Dockerfile
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - "6901:22"
      - "6902:8000"
    environment:
      - ROOT_PASSWORD=$ROOT_PASSWORD
    volumes:
      - ./vault:/root/vault:z
    stdin_open: true
    tty: true
    restart: no

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    depends_on:
      - kali-hexstrike
    ports:
      - "6903:6903"
    environment:
      - PORT=6903
      - MODEL_DOWNLOAD_DIR=/models
      - OLLAMA_API_BASE_URL=http://host.docker.internal:11434
      - LOG_LEVEL=debug
    volumes:
      - ./owui_data:/app/backend/data:z
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped