name: nightmare

networks:
  nightmare:
    driver: bridge

services:
  nightmare:
    image: nightmare:latest
    container_name: nightmare
    build:
      context: ./core
      dockerfile: Dockerfile
    cap_add:
      - NET_ADMIN
      - NET_RAW
    networks:
      - nightmare
    ports:
      - "2222:22"
      - "8888:8888"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./workspace:/workspace:rw
      - ./core/settings.json:/.vscode/settings.json:ro
      - ./core/mcp.json:/.vscode/mcp.json:ro
    environment:
      - TZ=$TIMEZONE
      - ROOT_PASSWORD=$ROOT_PASSWORD
    tty: true
    restart: unless-stopped