name: nightmare

networks:
  nightmare_network:
    driver: bridge

volumes:
  vscode_data:
    
services:
  hexstrike:
    image: hexstrike:latest
    container_name: hexstrike
    build:
      context: ./hexstrike
      dockerfile: Dockerfile
    cap_add:
      - NET_ADMIN
      - NET_RAW
    ports:
      - "$SSH_PORT:22"
      - "8000:8000"
      - "8888:8888"
    networks:
      - nightmare_network
    volumes:
      - $WORKSPACE:/root/workspace:z
    environment:
      - ROOT_PASSWORD=$ROOT_PASSWORD
    tty: true
    restart: unless-stopped
